<ion-content>
  <div class="ion-text-sm">
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let input of inputCount; let i = index">
            <ion-input [label]="'เลขตัวที่ : '+(i+1)" labelPlacement="floating" placeholder="โปรดระบุเลข..."
              [(ngModel)]="input.value" type="text"></ion-input>
            <ion-button fill="clear" color="danger" (click)="removeInput(i)" *ngIf="i != 0">ลบ</ion-button>
          </ion-item>
        </ion-list>
        <div>
          <ion-button class="ion-margin ion-text-lg" expand="block" fill="outline"
            (click)="addInput()">เพิ่มช่องกรอกตัวเลข</ion-button>
        </div>
        <div>
          <ion-button class="ion-margin" expand="block" (click)="calculate()">คำนวณ</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="calculatedResult.length??0 > 0">
      <ion-card-content>
        <ion-item-group *ngFor="let calculated of calculatedResult" class="ion-margin">
          <ion-item-divider mode="ios" color="light">
            <div color="primary" class="ion-text-strong ion-padding">{{calculated.key}} แต้มเต็ม :
              {{calculated.result}}</div>
          </ion-item-divider>

          <div class="ion-display-flex ion-align-items-center ion-wrap">
            <div *ngFor="let result of calculated.value" class="ion-display-flex ion-align-items-center"
              style="min-width: 50px; max-width: 80px; height: 50px;">
              {{result}}&nbsp;
            </div>
            <div style="text-align: center;width: -webkit-fill-available;">
              <ion-button fill="outline" color="warning" expand="block" 
                (click)="copyToClipboard(calculated.value)">คัดลอกชุดนี้</ion-button>
            </div>
          </div>
        </ion-item-group>
        <div *ngIf="calculatedResult.length > 0" class="ion-margin">
          <ion-button expand="full" color="warning"
            (click)="copyToClipboardAll(calculatedResult)">คัดลอกทั้งหมด</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>